<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/getinvolved.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/fullpage.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/scrolloverflow.min.js"></script>
    <script type="text/javascript" src="/scripts/fullpage.js"></script>
</head>
<body>
    <div id="fullpage">
        <div id="fixed-wrapper">
            <%- include('../../partials/main_nav'); %>
            <%- include('../../partials/secondary_nav_get_inv', {gi: 'donations'}) %>
        </div>
        <div class="section" id="donations-intro">
            <a class="left-link" href="/get-involved/education"><img class="arrow" src="/imgs/shared/left_arrow_pink_thick.svg"></a>
            <img class="intro-badge" src="/imgs/get_involved/donations/donations.svg">
            <a class="right-link" href="/get-involved/home"><img class="arrow" src="/imgs/shared/right_arrow_pink_thick.svg"></a>
        </div>
        <div class="section">
            <div class="container bg-clr-donations">
                <% cards.forEach(function(card) { %>
                    <div class="card">
                        <a href="<%= card.link %>">
                        <img src="/imgs/get_involved/donations/<%= card.img %>">
                            <div class="desc clr-donations">
                                <%= card.desc %>
                            </div>
                        </a>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
    <script>
            new fullpage('#fullpage', {
                //options here
                navigation: true,
                slidesNavigation: true,
                scrollOverflow: true,
            });
    </script>

</body>